name: ci

on:
  push:
  pull_request:

jobs:
  rust-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: Run core tests
        run: cargo test -p mincorr
